/***** Contact *****/
.bg-contact {
    background: url('../assets/images/contact/contact-bg.jpg') no-repeat rgba(0,0,0,.5);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.contact h1 {
    font-size: calc(1vw + 5rem);
    text-align: center;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .map {
    flex: 1 1 40rem;
    width: 100%;
    padding: 2rem;
    background-color: var(--light-bg);
    background-size: cover;
    backdrop-filter: blur(.4rem);
    border-radius: .5rem;
}

.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem;
    background-color: var(--light-bg);
    backdrop-filter: blur(.4rem);
    border-radius: .5rem;
}

.contact .row form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
}

.contact .row form .box {
    width: 100%;
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    text-transform: none;
    color: var(--white);
    background-color: rgba(0,0,0,.3);
    border-radius: .5rem;
}

.contact .row form .box::placeholder {
    color: var(--light-white);
}

.contact .row form textarea {
    height: 13rem;
    resize: none;
}

.contact .row form .btn {
    color: var(--white);
    background-color: rgba(0,0,0,.3);
}
.contact .row form .btn:hover {
    color: var(--black);
    background-color: var(--orange);
}

.contact .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem 0;
}

.contact .grid .box {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--light-bg);
    backdrop-filter: blur(.4rem);
    border-radius: .5rem;
}

.contact .grid .box i {
    width: 6rem;
    height: 5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: var(--white);
    background-color: var(--orange);
    border-radius: .5rem;
}

.contact .grid .box h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--main-color);
}

.contact .grid .box a {
    display: block;
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
    text-transform: none;
    color: var(--light-white);
}

.contact .grid .box a:hover {
    text-decoration: underline;
    color:var(--white);
    }


.contact .credit {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: var(--light-white);
}

.contact .credit span {
    color: var(--orange);
}