
/*** Accueil ***/
.bg-home {
    background: url('../assets/images/home/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

/*** Main : contenu principal ***/
.home {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 15rem;
}

.home-presentation {
    width: 80%;
    font-size: 1.8rem;
    color: var(--black);
}

.heading, h2 {
    font-family: 'Permanent Marker', cursive;
}

.heading {
    font-size: calc(1vw + 7rem);
    color: var(--main-color);
}


h2 {
    font-weight: 600;
}

.home-presentation p {
    width: 80%;
    margin: 20px 0;
}

.home-buttons {
    display: flex;
    width: 50%;
}

.home-buttons .btn {
    max-width: 25%;
}
.home-buttons .btn:nth-child(1) {
    margin-right: 30px;
}

/*** Pied de page ***/
.footer {
    
}

/***** Responsive *****/
/* Pour les écrans de bureau */
@media (max-width:991px) {
    .home {
        font-size: 1rem;
    }
}

/* Pour les tablettes */
@media (max-width:788px) {
    .home {
        width: 100%;
    }
    
    .home-buttons {
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
    }

    .home-buttons .btn {
        width: 100%;
    }

}

@media (max-width:450px) {

}